<div class="site-slider-slider-one">
  <div class="site-slider-slider-one-image">
    <img class="" src="/images/fetimg.png"/>
  </div>
  <div class="site-slider-slider-one-text">

    <h1 class="site-slider-slider-one-text-heading">
      <%= show :name %>
    </h1>

    <p class="site-slider-slider-one-text-description">
      <%= show :description %>
    </p>

    <p class="site-slider-slider-one-text-button">
      <a href="#">
        Continue Reading </a>
    </p>
  </div>
</div>
