<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title> <%= page_title %> | BrowserCMS Demo</title>
  <meta name='robots' content='noindex,follow'/>
  <link rel='stylesheet' id='alexandria-style-css' href='/style.css' type='text/css' media='all'/>
  <%= yield :html_head %>
  <%#= javascript_include_tag '/js/tinynav.min' %>

</head>